<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Domain</key>
	<string>dev-pormucwwgf7p21u4.us.auth0.com</string>
	<key>ClientId</key>
	<string>pqvRXu9fCzp6smHi6lS5w1W3UerBDS5J</string>
</dict>
</plist>
